<?xml version="1.0"?>
<robot name="trailblazer" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- Include constants -->
  <xacro:include filename="$(find trailblazer_description)/urdf/tools/constants.urdf.xacro" />

  <!-- Spawn base_link -->
  <link name="base_link" />

  <!-- Add chassis -->
  <xacro:include filename="$(find trailblazer_description)/urdf/chassis.urdf.xacro" />
  <xacro:chassis name="chassis" parent="base_link" mass="700.0" xyz="0 0 0" rpy="0 0 0" />

  <!-- Load calibration -->
  <xacro:include filename="$(find trailblazer_description)/urdf/tools/calibration.urdf.xacro" />
  <xacro:property name="calibration" value="${load_yaml('$(find trailblazer_description)/config/calibration.yaml')}" />

  <!-- Add sensors: IMU -->
  <link name="xsens_imu_link"/>
  <joint name="xsens_imu_joint" type="fixed">
    <origin xyz="0.65 0 0.647" rpy="0 ${-PI/2.0} 0" />
    <parent link="base_link" />
    <child link="xsens_imu_link" />
  </joint>

  <!-- Add sensors: Bpearl -->
  <xacro:include filename="$(find trailblazer_description)/urdf/sensors/bpearl.urdf.xacro"/>
  <xacro:bpearl name="rslidar" parent="xsens_imu_link" xyz="0.13 0 -0.01" rpy="${PI} 0 0"/>
  <xacro:spawn_calibrated_link name="rslidar" parent="xsens_imu_link" dict_key="T_imu0_lidar0"/>

  <!-- Add OAK Cameras -->
  <xacro:include filename="$(find trailblazer_description)/urdf/sensors/oak_d_pro_w_poe.urdf.xacro"/>

  <xacro:oak_d_pro_w_poe name="oak_cam_front" parent="xsens_imu_link" xyz="0.065 0 -0.035" rpy="${155/180.0*PI} 0 ${-PI/2.0}"/>
  <xacro:spawn_calibrated_link name="oak_cam_front_left_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam0"/>
  <xacro:spawn_calibrated_link name="oak_cam_front_right_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam1"/>

  <xacro:oak_d_pro_w_poe name="oak_cam_left" parent="xsens_imu_link" xyz="0.26 0.36 0.67" rpy="${-105/180.0*PI} ${PI/2.0} 0"/>
  <xacro:spawn_calibrated_link name="oak_cam_left_left_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam2"/>
  <xacro:spawn_calibrated_link name="oak_cam_left_right_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam3"/>

  <xacro:oak_d_pro_w_poe name="oak_cam_rear" parent="xsens_imu_link" xyz="0.245 0 1.34" rpy="${-25/180.0*PI} 0 ${PI/2.0}"/>
  <xacro:spawn_calibrated_link name="oak_cam_rear_left_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam4"/>
  <xacro:spawn_calibrated_link name="oak_cam_rear_right_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam5"/>

  <xacro:oak_d_pro_w_poe name="oak_cam_right" parent="xsens_imu_link" xyz="0.26 -0.36 0.67" rpy="${75/180.0*PI} ${-PI/2.0} 0"/>
  <xacro:spawn_calibrated_link name="oak_cam_right_left_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam6"/>
  <xacro:spawn_calibrated_link name="oak_cam_right_right_camera_optical_frame" parent="xsens_imu_link" dict_key="T_imu0_cam7"/>

</robot>